* {
    margin: 5px;
    padding: 5px;
}
p{
    text-align: center;
    color:brown
}
.container {
    display: flex;
    border: 1px solid black;
    
}
.container > div {
    width: 50px;
   
    background-color:aqua;
    margin: 10px;;
}
.flex-row {
    
    flex-direction: row;
}
.flex-row-reverse {
    
    flex-direction: row-reverse;
}
.flex-column {
    
    flex-direction: column;
}
.flex-column-reverse{
    
    flex-direction: column-reverse;
}
.wrap {
    
    flex-wrap: wrap;
    flex-direction: row;
}
.wrap-reverse {
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.flex-flow-row-wrap {
    flex-flow: row wrap;
}
.flex-start {
    justify-content: flex-start;
}
.flex-end {
    justify-content: flex-end;
}
.flex-center{
    justify-content: center;
}
.flex-space-between{
    justify-content: space-between;
}
.flex-space-around{
    justify-content: space-around;
}
.flex-space-evenly{
    justify-content: space-evenly;
}
.align-flex-start{
    align-items: flex-start;
    height: 100px;
}
.align-flex-end{
    align-items: flex-end;
    height: 100px;
}
.align-flex-center{
    align-items: center;
    height: 100px;
}
.align-flex-stretch{    
    align-items: stretch;
    height: 100px;
}
.align-flex-baseline{    
    align-items: baseline;
    height: 180px;
}